{% extends "base.html" %}

{% block content %}


{% load static %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<div class="main-frame row">
    <div class="ai-screen col-4 p-0">
        <div class="ai-screen-title d-flex">
            <p class="lunas title">AI 일반 행원 루나스</p>
        </div>
        <video class="ai_lunas" src="{% static '/video/ai.mp4' %}" type="video/mp4"></video>
    </div>
    <div class="chatbot-screen col-8 d-flex justify-content-end align-items-center">
      <div class="chatbot-container">
        <div class="chatbot-body">
          <section>
          <div class="from-them">
            <p><b>
              "좋은 하루입니다! AI 행원 루나스입니다.” <br><br>
              “무엇을 도W와드릴까요?”
            </b></p>
            <div class="quick-container">
              <div><빠른 업무></div>
              <button class="quick_btn" id="btn_2" value="2">1. 입금</button>
              <button class="quick_btn" id="btn_6" value="6">2. 출금</button>
              <button class="quick_btn" id="btn_1" value="1">3. 송금</button>
              <button class="quick_btn" id="btn_3" value="3">4. 계좌조회</button>
              <button class="quick_btn" id="btn_4" value="4">5. 계좌개설</button>
              <button class="quick_btn" id="btn_5" value="5">6. 카드발급</button>
            </div>
            <div class="padding"></div>
          </div>
          {% comment %} <div class="receive">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#passwdModal">모달</button>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#amountModal">모달</button>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#balanceModal">모달</button>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#termsModal">모달</button>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cardModal">모달</button>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#issueModal">모달</button>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addressModal">모달</button>
          </div> {% endcomment %}
          {% comment %} <div class="receive">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loadTerms">모달</button>
          </div> {% endcomment %}
          <div class="clear"></div>
        </section>
        </div>
      <div class="form-floating">
        <input type="text" class="form-control submitForm" id="chat-input">
        <label for="chat-input">무엇을 도와드릴까요?</label>
      </div>
    </div>
  </div>
    <!--비밀번호 모달-->
    <div class="modal fade" id="passwdModal" tabindex="-1" aria-labelledby="passwdModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">비밀번호를 입력해주세요.</h5>
          </div>
          <div class="form-group formCss">
              <input class="form-control passwdInput" id="passwdModalInput" type="password" value="" readonly/>
            <div class="btnGroup">
              <button class="btn btn-primary passwdBtn" id="passwdBtn_1" value="1" onclick="put_num(1 ,'password')">1</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_2" value="2" onclick="put_num(2 ,'password')">2</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_3" value="3" onclick="put_num(3 ,'password')">3</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_4" value="4" onclick="put_num(4 ,'password')">4</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_5" value="5" onclick="put_num(5 ,'password')">5</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_6" value="6" onclick="put_num(6 ,'password')">6</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_7" value="7" onclick="put_num(7 ,'password')">7</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_8" value="8" onclick="put_num(8 ,'password')">8</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_9" value="9" onclick="put_num(9 ,'password')">9</button>
              <button class="btn btn-primary passwdBtn2" id="passwdBtn_reset" value="r" onclick="reset('password')">초기화</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_0" value="0" onclick="put_num(0, 'password')">0</button>
              <button class="btn btn-primary passwdBtn2" id="passwdBtn_clear" value="c" onclick="clearOne('password')">지움</button>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary footerBtn" id="passwordModalOK">확인</button>
            <button type="button" class="btn btn-secondary footerBtn" id="passwordModalNO" data-bs-dismiss="modal">취소</button>
          </div>
        </div>
      </div>
    </div>
    <!--금액 모달-->
    <div class="modal fade" id="amountModal" tabindex="-1" aria-labelledby="amountModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="amountModalTitle">출금하실 금액을 입력해주세요.</h5>
          </div>
          <div class="form-group formCss">
            <input class="form-control passwdInput" id="amountModalInput" value="" readonly/>
            <div class="btnGroup">
              <button class="btn btn-primary passwdBtn" id="amountBtn_1" value="1" onclick="put_num(1, 'amount')">1</button>
              <button class="btn btn-primary passwdBtn" id="amountBtn_2" value="2" onclick="put_num(2, 'amount')">2</button>
              <button class="btn btn-primary passwdBtn" id="amountBtn_3" value="3" onclick="put_num(3, 'amount')">3</button>
              <button class="btn btn-primary passwdBtn" id="amountBtn_4" value="4" onclick="put_num(4, 'amount')">4</button>
              <button class="btn btn-primary passwdBtn" id="amountBtn_5" value="5" onclick="put_num(5, 'amount')">5</button>
              <button class="btn btn-primary passwdBtn" id="amountBtn_6" value="6" onclick="put_num(6, 'amount')">6</button>
              <button class="btn btn-primary passwdBtn" id="amountBtn_7" value="7" onclick="put_num(7, 'amount')">7</button>
              <button class="btn btn-primary passwdBtn" id="amountBtn_8" value="8" onclick="put_num(8, 'amount')">8</button>
              <button class="btn btn-primary passwdBtn" id="amountBtn_9" value="9" onclick="put_num(9, 'amount')">9</button>
              <button class="btn btn-primary passwdBtn2" id="amountBtn_reset" value="r" onclick="reset('amount')">초기화</button>
              <button class="btn btn-primary passwdBtn" id="amountBtn_0" value="0" onclick="put_num(0, 'amount')">0</button>
              <button class="btn btn-primary passwdBtn2" id="amountBtn_clear" value="c" onclick="clearOne('amount')">지움</button>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary footerBtn" id="amountModalOK">확인</button>
            <button type="button" class="btn btn-secondary footerBtn" id="amountModalNO">취소</button>
          </div>
        </div>
      </div>
    </div>
    <!--계좌조회 모달-->
    <div class="modal fade" id="balanceModal" tabindex="-1" aria-labelledby="balanceModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">계좌를 조회합니다.</h5>
            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
          </div>
          <div class="form-group">
            <table class="balanceTable">
              <tr>
                <td class="head">계좌이름 : </td>
                <td>KB나라사랑우대통장</td>
              </tr>
              <tr>
                <td class="head">계좌번호 : </td>
                <td>123456-01-123456</td>
              </tr>
              <tr>
                <td class="head">잔액 : </td>
                <td>800,000,000 원</td>
              </tr>
              <tr>
                <td class="head">출금가능금액 : </td>
                <td>800,000,000 원</td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary footerBtn" id="balanceModalSEND">송금</button>
            <button type="button" class="btn btn-secondary footerBtn" id="balanceModalWithdraw">출금</button>
            <button type="button" class="btn btn-primary footerBtn" id="balanceModalOK">확인</button>
          </div>
        </div>
      </div>
    </div>
    <!--약관동의 모달-->
    <div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">약관을 읽고 동의해주세요.</h5>
            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
          </div>
          <div class="terms" id="terms">
            <div class="termsContent">
              <embed src="{% static 'text/terms.txt' %}" height="550" width="400">
            </div>
          </div>
          <div class="modal-footer">
            <div class="termsCheckbox">
              <input type="checkbox" id="termsCheckbox"> 약관을 충분히 이해하였으며 동의합니다. </input>
            </div>
            <button type="button" class="btn btn-primary footerBtn" id="termsModalOK" disabled="true">확인</button>
            <button type="button" class="btn btn-secondary footerBtn" id="termsModalNO">취소</button>
          </div>
        </div>
      </div>
    </div>
    <!--카드추천 모달-->
    <div class="modal fade" id="cardModal" tabindex="-1" aria-labelledby="cardModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">발급을 원하시는 카드를 선택해주세요.</h5>
          </div>
          <div class="cardList">
            <div class="cardContent" id="cardContent">
            </div>
          </div>
          <div class="modal-footer">  
            <button type="button" class="btn btn-primary footerBtn" id="cardModalOK" disabled="true">확인</button>
            <button type="button" class="btn btn-secondary footerBtn" id="cardModalNO">취소</button>
          </div>
        </div>
      </div>
    </div>
    <!--카드발급 모달-->
    <div class="modal fade" id="issueModal" tabindex="-1" aria-labelledby="issueModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-ms">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">카드를 발급하시겠습니까?</h5>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary footerBtn" id="issueModalOK">확인</button>
            <button type="button" class="btn btn-secondary footerBtn" id="issueModalNO">취소</button>
          </div>
        </div>
      </div>
    </div>
    <!--배송지입력 모달-->
    <div class="modal fade" id="addressModal" tabindex="-1" aria-labelledby="addressModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-ms">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">카드를 배송받을 주소를 입력해주세요.</h5>
          </div>
          <div>
            <div class="addressContent" id="addressContent">
              <input type="text" class="addressInput" id="addressInput">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary footerBtn" id="addressModalOK" disabled="true">확인</button>
            <button type="button" class="btn btn-secondary footerBtn" id="addressModalNO">취소</button>
          </div>
        </div>
      </div>
    </div>
    <!--계좌번호 모달-->
    <div class="modal fade" id="accountModal" tabindex="-1" aria-labelledby="accountModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">송금하실 계좌번호를 입력해주세요.</h5>
          </div>
          <div class="form-group formCss">
            <input class="form-control passwdInput" id="accountModalInput" value="" readonly/>
            <div class="btnGroup">
              <button class="btn btn-primary passwdBtn" id="accountBtn_1" value="1" onclick="put_num(1, 'account')">1</button>
              <button class="btn btn-primary passwdBtn" id="accountBtn_2" value="2" onclick="put_num(2, 'account')">2</button>
              <button class="btn btn-primary passwdBtn" id="accountBtn_3" value="3" onclick="put_num(3, 'account')">3</button>
              <button class="btn btn-primary passwdBtn" id="accountBtn_4" value="4" onclick="put_num(4, 'account')">4</button>
              <button class="btn btn-primary passwdBtn" id="accountBtn_5" value="5" onclick="put_num(5, 'account')">5</button>
              <button class="btn btn-primary passwdBtn" id="accountBtn_6" value="6" onclick="put_num(6, 'account')">6</button>
              <button class="btn btn-primary passwdBtn" id="accountBtn_7" value="7" onclick="put_num(7, 'account')">7</button>
              <button class="btn btn-primary passwdBtn" id="accountBtn_8" value="8" onclick="put_num(8, 'account')">8</button>
              <button class="btn btn-primary passwdBtn" id="accountBtn_9" value="9" onclick="put_num(9, 'account')">9</button>
              <button class="btn btn-primary passwdBtn2" id="accountBtn_reset" value="r" onclick="reset('account')">초기화</button>
              <button class="btn btn-primary passwdBtn" id="accountBtn_0" value="0" onclick="put_num(0, 'account')">0</button>
              <button class="btn btn-primary passwdBtn2" id="accountBtn_clear" value="c" onclick="clearOne('account')">지움</button>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary footerBtn" id="accountModalOK">확인</button>
            <button type="button" class="btn btn-secondary footerBtn" id="accountModalNO">취소</button>
          </div>
        </div>
      </div>
    </div>
    <!--비밀번호 생성 모달-->
    <div class="modal fade" id="makePasswdModal" tabindex="-1" aria-labelledby="makePasswdModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="makePasswdTitle">생성하실 비밀번호를 입력해주세요.</h5>
          </div>
          <div class="form-group formCss">
            <input class="form-control passwdInput" id="makePasswdModalInput" type="password" value="" readonly/>
            <div class="btnGroup">
              <button class="btn btn-primary passwdBtn" id="passwdBtn_1" value="1" onclick="put_num(1, 'make')">1</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_2" value="2" onclick="put_num(2, 'make')">2</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_3" value="3" onclick="put_num(3, 'make')">3</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_4" value="4" onclick="put_num(4, 'make')">4</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_5" value="5" onclick="put_num(5, 'make')">5</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_6" value="6" onclick="put_num(6, 'make')">6</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_7" value="7" onclick="put_num(7, 'make')">7</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_8" value="8" onclick="put_num(8, 'make')">8</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_9" value="9" onclick="put_num(9, 'make')">9</button>
              <button class="btn btn-primary passwdBtn2" id="passwdBtn_reset" value="r" onclick="reset('make')">초기화</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_0" value="0" onclick="put_num(0, 'make')">0</button>
              <button class="btn btn-primary passwdBtn2" id="passwdBtn_clear" value="c" onclick="clearOne('make')">지움</button>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary footerBtn" id="makePasswdModalOK">확인</button>
            <button type="button" class="btn btn-secondary footerBtn" id="makePasswdModalNO">취소</button>
          </div>
        </div>
      </div>
    </div>
    <!--비밀번호 확인 모달-->
    <div class="modal fade" id="checkPasswdModal" tabindex="-1" aria-labelledby="checkPasswdModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="checkPasswdTitle">생성하실 비밀번호를 다시 입력해주세요.</h5>
          </div>
          <div class="form-group formCss">
            <input class="form-control passwdInput" id="checkPasswdModalInput" type="password" value="" readonly/>
            <div class="btnGroup">
              <button class="btn btn-primary passwdBtn" id="passwdBtn_1" value="1" onclick="put_num(1, 'check')">1</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_2" value="2" onclick="put_num(2, 'check')">2</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_3" value="3" onclick="put_num(3, 'check')">3</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_4" value="4" onclick="put_num(4, 'check')">4</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_5" value="5" onclick="put_num(5, 'check')">5</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_6" value="6" onclick="put_num(6, 'check')">6</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_7" value="7" onclick="put_num(7, 'check')">7</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_8" value="8" onclick="put_num(8, 'check')">8</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_9" value="9" onclick="put_num(9, 'check')">9</button>
              <button class="btn btn-primary passwdBtn2" id="passwdBtn_reset" value="r" onclick="reset('check')">초기화</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_0" value="0" onclick="put_num(0, 'check')">0</button>
              <button class="btn btn-primary passwdBtn2" id="passwdBtn_clear" value="c" onclick="clearOne('check')">지움</button>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary footerBtn" id="checkPasswdModalOK">확인</button>
            <button type="button" class="btn btn-secondary footerBtn" id="checkPasswdModalNO">취소</button>
          </div>
        </div>
      </div>
    </div>
    <!--가짜 모달-->
    <div class="modal fade" id="fakeModal" tabindex="-1" aria-labelledby="accountModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">신분증을 촬영해주세요.</h5>
          </div>
          <div>
            <div>1. <촬영> 버튼을 눌러주세요.</div> <br>
            <div>2. 신분증을 카메라 앞에 위치시키고 Enter 키를 눌러 촬영해주세요.</div><br>
            <div>3. 촬영이 끝났으면, <확인> 버튼을 눌러주세요.</div>
            <div></div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary footerBtn" onclick="openCamera()" id="fakeModal ">촬영</button>
            <button type="button" class="btn btn-secondary footerBtn" id="fakeModalOK">확인</button>
          </div>
        </div>
      </div>
    </div>
    <!--보이스피싱 1단계 모달-->
    <div class="modal fade" id="scaModal_1" tabindex="-1" aria-labelledby="scam_ModlaLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">보이스피싱 1 단계</h5>
          </div>
          <div>
            <div> 고객님께선 현재 보이스피싱 위험 1 단계입니다. </div> <br>
            <div>검찰, 경찰, 금융감독원이나 모르는 사람이 전화로 출금 및 이체를 요청하였습니까?</div><br>
            <div>또는, 대출받기 위해서는 먼저 수수료, 기존 대출금 상환 등이 필요하다며 <출금 이체>를 요청하였습니까? </div>
            <div></div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary footerBtn" onclick="window.location.href = '/'" id="scaModal_1">예</button>
            <button type="button" class="btn btn-secondary footerBtn" id="scamModal_cancel" data-bs-dismiss="modal">아니요</button>
          </div>
        </div>
      </div>
    </div>
    <!--보이스피싱 2단계 모달-->
      <div class="modal fade" id="scaModal_2" tabindex="-1" aria-labelledby="보이스피싱" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">보이스피싱 2 단계</h5>
            </div>
            <div>
              <div> 고객님께선 현재 보이스피싱 위험 2 단계입니다. </div> <br>
              <div> 고객님께서는 혹시 기관(국세청, 검찰 금융감독원, 국민연금 관리공단, 금융기관 등)이나 낯선 사람의 전화를 받고 이 거래를 하고 계십니까? </div>
              <div></div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary footerBtn" onclick="window.location.href = '/'" id="scamModal_check">예</button>
              <button type="button" class="btn btn-secondary footerBtn" id="scamModal_cancel" data-bs-dismiss="modal">아니요</button>
            </div>
          </div>
        </div>
      </div>
      <!--보이스피싱 3단계 모달-->
      <div class="modal fade" id="scaModal_3" tabindex="-1" aria-labelledby="보이스피싱" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">보이스피싱 3 단계</h5>
            </div>
            <div>
              <div> 고객님께선 현재 보이스피싱 위험 최고 단계수준입니다. </div> <br>
              <div> 보이스피싱 피해가 크게 의심되오니, 경찰에 조용히 신고해드릴까요? </div> <br>
              <div> (만약, 이미 현 상황에서 피해입은 금액이 있다면, 피해금 환급 신청을 하시기 바랍니다) </div>
              <div></div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary footerBtn" onclick="window.location.href='https://www.fss.or.kr/fss/main/contents.do?menuNo=200366'" id="scamModal_check">예</button>
              <button type="button" class="btn btn-secondary footerBtn" id="scamModal_cancel" data-bs-dismiss="modal">아니요</button>
            </div>
          </div>
        </div>
      </div>

      <!-- 감정 분류 모달(많이 화나셨으면 일반 행원 연결해드릴까요?)-->
      <div class="modal fade" id="emotion_Modal" tabindex="-1" aria-labelledby="emotion-classification" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">고객님의 더 편리한 서비스 이용을 위해 노력하겠습니다!</h5>
            </div>
            <div>
              <div> 고객님, 저희 루나스 행원이 잘 작동하지 않아 불편함이 있으신가요? </div> <br>
              <div>고객님의 원활한 금융 업무 지원을 위해 최선을 다할 것을 약속드립니다.</div><br>
              <div> 실제 사람 행원과 연결해드릴까요? </div>
              <div></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary footerBtn" onclick="openCamera()" id="emotion_Modal_yes">예</button>
              <button type="button" class="btn btn-secondary footerBtn" id="emotion_Modal_cancle" data-bs-dismiss="modal">아니요</button>
            </div>
          </div>
        </div>
      </div>
      <audio aria-hidden="true"></audio>

</div>

<script>

  // 도메인 변수, 필요 시 수정.
  const domain = 'http://127.0.0.1:8000'

  // Camera open function
  function openCamera() {
    var url = domain;
    axios({
      method: 'get',
      url: `${url}/camera` 
    });
  }

  // tts 시작
  var voices = [];
  var step = 0;
  var amount = 0;
  function setVoiceList() {
      voices = window.speechSynthesis.getVoices();
  }
  if (window.speechSynthesis.onvoiceschanged !== undefined) {
      window.speechSynthesis.onvoiceschanged = setVoiceList;
  }
  function speech(txt, check=false) {
    for (var btn of (document.getElementsByClassName("quick_btn"))) { //
      btn.disabled = true;
    }
    
      if(!window.speechSynthesis) {
          alert("음성 재생을 지원하지 않는 브라우저입니다. 크롬, 파이어폭스 등의 최신 브라우저를 이용하세요");
        return;
      }
    var lang = 'ko-KR';
    var utterThis = new SpeechSynthesisUtterance(txt);
  
    utterThis.onend = function (event) {
      console.log('end');
    };
    utterThis.onerror = function(event) {
      console.log('error', event);
    };
    var voiceFound = false;
    var ai_lunasMotion = document.getElementsByClassName('ai_lunas')[0]; //음성에 ai 말하기
    ai_lunasMotion.play();
    console.log(ai_lunasMotion);
    for(var i = 0; i < voices.length ; i++) { // 20
      if(voices[i].lang.indexOf(lang) >= 0 || voices[i].lang.indexOf(lang.replace('-', '_')) >= 0) {
        utterThis.voice = voices[i];
        voiceFound = true;
      }
    }
    setTimeout(() => { // 비동기라 settime으로 여유 시간 확보
      ai_lunasMotion.pause(); // 정지
      ai_lunasMotion.currentTime = 0; // 초기화
    }, 4500);
  
    if(!voiceFound) {
      alert('voice not found');
      return;  
    }
  
    utterThis.lang = lang;
    utterThis.pitch = 1;
    utterThis.rate = 1; //속도
    window.speechSynthesis.speak(utterThis);
    utterThis.onend = function(event){
      if (check){
        recognition.start();
      }
    }
  }
  document.addEventListener("load", function(e) {
    setTimeout(() => {
      var t = e.target;
      var input = t.previousElementSibling;
      var speacklist=[
      "좋은 하루입니다! AI 행원 `입니다.",
      "무엇을 도와드릴까요?",
      "입금, 출금, 송금, 계좌조회, 계좌개설, 카드발급이 가능합니다.",
      ];
      for(var j=0;j<1;j++) {
        console.log(speacklist[j]);
        speech(speacklist[j], true);
      }
      return;
    }, 1000);
  });
  // tts 끝
  function search(texts) {
    let search_key = texts
    let search_var = ''
    $.ajax({ 
      type: "GET", 
      url:'search/', 
      data : { 'search_key':search_key}, 
      dataType: 'json',
      async:false,
      success: function(data){ 
          search_var = data['search_key']
      },
      error: function (error) {
          // console.log(error);
        search_var = '0'
      }
    }) 	
    return search_var
  } 

  function promise_search(texts){
    return new Promise((resolve, reject) => {
      let target = search(texts)
      // 0.4초 안에 통신이 안되면, 에러 발생( promise 객체 이용 )
      setTimeout(() => {
        if (target != undefined){
          resolve(target)
        } else {
            reject('서버에 문제가 발생하여 인식하지 못했습니다.\n 다시 시도해주세요.')
        }
      }, 400)
    })
  }
  function promise_modal(func_name){
    let target;
    if (func_name == "accountModalOK_modal") {
      target = accountModalOK_modal()
    }
    return new Promise((resolve, reject) => {
      setTimeout(() => {
        if (target != undefined){
          resolve(target)
        } else {
            reject('서버에 문제가 발생하여 인식하지 못했습니다.\n 다시 시도해주세요.')
        }
      }, 500)
    })
  }
      
  flag_1 = 0
  flag_2 = 0
  flag_3 = 0
  flag_4 = 0
  flag_5 = 0
  flag_6 = 0
  flag_7 = 0
  flag_8 = 0
  flag_9 = 0
  flag_10 = 0
  flag_11 = 0
  flag_12 = 0
  flag_13 = 0
  flag_14 = 0
      
  {% comment %} https://elvanov.com/2597 {% endcomment %}
  function make_body(answer, texts, target_num) {
      
    // 각 target_num 별로 시작하는 모듈이 다르다는 점
    // 계좌번호 입력 -> 금액 입력 -> 비밀번호 입력 등 비슷한 흐름이 반복된다는 점을 이용해
    // 기본적인 흐름을 정해놓고, 나머지 경우를 예외처리하는 방식
    
    // 각 모달의 확인 버튼 태그
    const objBody = document.querySelector(".chatbot-body");
    const amountModalOK = document.querySelector('#amountModalOK');
    const passwordModalOK = document.querySelector('#passwordModalOK');
    const checkPasswdModalOK = document.querySelector('#checkPasswdModalOK');
    const accountModalOK = document.querySelector('#accountModalOK');
    const balanceModalOK = document.querySelector('#balanceModalOK');
    const termsModalOK = document.querySelector('#termsModalOK');
    const cardModalOK = document.querySelector('#cardModalOK');W
    // 각 모달의 취소 버튼 태그
    const amountModalNO = document.querySelector('#amountModalNO');
    const passwordModalNO = document.querySelector('#passwordModalNO');
    const checkPasswdModalNO = document.querySelector('#checkPasswdModalNO');
    const accountModalNO = document.querySelector('#accountModalNO');
    const balanceModalNO = document.querySelector('#balanceModalNO');
    const termsModalNO = document.querySelector('#termsModalNO');
    const cardModalNO = document.querySelector('#cardModalNO');
        
      // tts 포함하여 receive 채팅 추가
    function addChat(sentence, check=false) {
      chatBody.innerHTML += '<div class="from-them"><p style="margin-bottom: 0px;">' + sentence + '</p></div><div class="clear"></div>'
      objBody.scrollTop = objBody.scrollHeight;
      speech(sentence, check);
    }
      
    // tts 없이 receive 채팅 추가
    function addChatNoTts(sentence) {
      chatBody.innerHTML += '<div class="from-them"><p style="margin-bottom: 0px;">' + sentence + '</p></div><div class="clear"></div>'
      objBody.scrollTop = objBody.scrollHeight;
    }
    // 모달 : 모든 취소 버튼을 누를 경우 '/'으로 redirect
    function redirectToHome() {
      $('#amountModal').modal('hide');
      $('#passwdModal').modal('hide');
      $('#accountModal').modal('hide');
      $('#balanceModal').modal('hide');
      $('#termsModal').modal('hide');
      $('#cardModal').modal('hide');
      $('#fakeModal').modal('hide');
      $('#makePasswdModal').modal('hide');
      $('#addressModal').modal('hide');
      $('#issueModal').modal('hide');

      if (flag_1 == 0)
        addChat(["취소 버튼을 눌렀습니다. 홈 화면으로 복귀합니다."])

      flag_1 = 1;
      setTimeout(() => {
            window.location.href = '/';
      }, 5000);
    }
    // 비밀번호 모달 띄우기(금액 모달 -> 비밀번호 모달)
    function closeAmountModal() {
      $('#amountModal').modal('hide');
      if (flag_2 == 1)
        return;
      flag_2 = 1
      password = 0;
      reset("password");
      setTimeout(() => {
        addChat(["비밀번호를 입력해주세요."])
        $('#passwdModal').modal('show');
      }, 1000);
      return true;    
    }

      // 비밀번호 일치하지 않는 경우
    function closePasswordModal() {
      $('#passwdModal').modal('hide');
      if (flag_3 == 1) return ;
      flag_3 = 1
      const localPassword = localStorage.getItem("password")
      if (password !== localPassword) {
        addChat(["비밀번호가 일치하지 않습니다. 처음부터 다시 시도해주세요."])
        setTimeout(() => {
          window.location.href = '/';
        }, 5000);
        return;
      }
      if (accountFlag == 1) {
        $('#passwdModal').modal('hide');
        accountFlag = 0;
        setTimeout(() => {
          $('#balanceModal').modal('show');
        }, 1000);
        return true;
      }
      setTimeout(() => {
        if (sendFlag == 1)
            addChat([amount + ' 원을 출금합니다.'])
          else if (sendFlag == 2)
            addChat([amount + ' 원을 송금합니다.'])
            
          addChat(["이용해 주셔서 감사합니다!"])
          addChat(["5초 후 자동으로 초기 화면으로 복귀합니다. 안녕히 가십시오."])
          password = "";
          setTimeout(() => {
            window.location.href = '/';
          },7000);
        }, 1000);
        return true
      }
      // 금액 모달 띄우기(계좌 모달 -> 금액 모달)
      function closeAccountModal() {
        if (flag_4 == 1)
          return;
        flag_4 = 1
        $('#accountModal').modal('hide');
        setTimeout(() => {
          if (sendFlag == 1)
          {
            document.querySelector('#amountModalTitle').innerHTML = '<h5 class="modal-title" id="makePasswdTitle">출금하실 금액을 입력해주세요.</h5>'
            addChat(["출금하실 금액을 입력해주세요."])
          }
          else if (sendFlag == 2)
          {
            document.querySelector('#amountModalTitle').innerHTML = '<h5 class="modal-title" id="makePasswdTitle">송금하실 금액을 입력해주세요.</h5>'
            addChat("송금하실 금액을 입력해주세요.")
          }
          $('#amountModal').modal('show');
        }, 1000);
        return true;
      }
      function checkNewPassword() {
        $('#checkPasswdModal').modal('hide');
        if (flag_10 == 1)
          return;
        flag_10 = 1
        const localNewPassword = localStorage.getItem("newPassword")
        console.log("check : ", checkPassword, "local : ", localNewPassword)
        if (checkPassword !== localNewPassword)
        {
          addChat(["비밀번호가 일치하지 않습니다. 처음부터 다시 시도해주세요."])
          setTimeout(() => {
            window.location.href = '/';
          }, 5000);
          return;
        }
        if (cardFlag === 1)
          {
            addChat(["발급을 원하시는 카드를 선택해주세요."])
            $('#cardModal').modal('show');
            return ;
          }
          addChat(["카드를 배송받을 주소를 입력해주세요."])
          $('#addressModal').modal('show');
      }
       function closeMakePasswdModal() {
        $('#makePasswdModal').modal('hide');
        if (flag_8 == 1)
          return;
        flag_8 = 1
        localStorage.setItem("newPassword", newPassword);
        setTimeout(() => {
          addChat(["생성하실 비밀번호를 다시 입력해주세요."])
          $('#checkPasswdModal').modal('show');
        return true
        }, 1000)
      }
      function closeFakeModal() {
        $('#fakeModal').modal('hide');
        if (flag_9 == 1)
          return;
        flag_9 = 1
        newPassword = 0;
        reset("make");
        setTimeout(() => {
          addChat(["생성하실 비밀번호를 입력해주세요."])
          $('#makePasswdModal').modal('show');
        }, 1000);
          return true;
        }

        function closeissueModal() {
          $('#issueModal').modal('hide');
          if (flag_12 == 1)
            return;
          flag_12 = 1
          //cardFlag = 1;
          setTimeout(() => {
            addChat(["카드를 배송받을 주소를 입력해주세요."])
            $('#addressModal').modal('show');
          }, 1000);
        }

        // 카메라 모듈 띄우기(약관 모달 -> 카메라 모듈)
        function closeTermsModal() {
          $('#termsModal').modal('hide');
          if (flag_11 == 1)
            return;
          flag_11 = 1
          setTimeout(() => {
            addChat(["신분증을 촬영해주세요."])
            $('#fakeModal').modal('show');
          }, 1000);
          return true;
        }

        // 약관 모듈 띄우기(카드 모달 -> 약관 모달)
        function closeCardModal() {
          $('#cardModal').modal('hide');
          if (flag_13 == 1)
            return ;
          flag_13 = 1
          if (cardFlag === 1)
          {
            setTimeout(() => {
              addChat(["카드를 배송받을 주소를 입력해주세요."])
              $('#addressModal').modal('show');
            }, 1000);
            return true;
          }
          setTimeout(() => {
            addChat(["약관을 읽고 동의 버튼을 눌러주세요"]);
            $('#termsModal').modal('show');
          }, 1000);
        }

        function closeAddressModal() {
          $('#addressModal').modal('hide');
          if (flag_14 == 1)
            return;
          flag_14 = 1
          setTimeout( () => {
            addChat(["이용해 주셔서 감사합니다!"])
            addChat(["5초 후 자동으로 초기 화면으로 복귀합니다. 안녕히 가십시오."])
            newPassword = "";
            setTimeout(() => {
              window.location.href = '/';
            },7000);
          }, 1000);
        }

        // 계좌조회 마지막 화면에서, 출금 또는 송금으로 이동
        // 1. 확인 버튼(종료)
        function closeAll() {
          $('#balanceModal').modal('hide');
          if (flag_5 == 1)
            return ;
          flag_5 = 1
          setTimeout(() => {
            addChat(["이용해 주셔서 감사합니다!"])
            addChat(["5초 후 자동으로 초기 화면으로 복귀합니다. 안녕히 가십시오."])
            setTimeout(() => {
              window.location.href = '/';
            },7000);
          }, 1000);
          return true
        }

        // 2. 송금 모달로 이동
        function openAccountModal() {
          $('#balanceModal').modal('hide');
          if (flag_6 == 1)
            return;
          flag_6 = 1
          flag_3 = 0
          setTimeout(() => {
            $('#accountModal').modal('show');
            addChat(["송금하실 계좌번호를 입력해 주세요."])
          }, 500);
        }

        // 3. 출금 모달로 이동
        function openAmountModal() {
          $('#balanceModal').modal('hide');
          sendFlag = 1;
          if (flag_7 == 1)
            return;
          flag_7 = 1
          flag_3 = 0
          setTimeout(() => {
            $('#amountModal').modal('show');
            addChat(["출금하실 금액을 입력해주세요."])
          }, 500);
        }
     
        // 버튼 이벤트리스너
        amountModalOK.addEventListener("click", closeAmountModal);
        passwordModalOK.addEventListener("click", closePasswordModal);
        accountModalOK.addEventListener("click", closeAccountModal);
        balanceModalOK.addEventListener("click", closeAll);
        balanceModalSEND.addEventListener("click", openAccountModal);
        balanceModalWithdraw.addEventListener("click", openAmountModal);
        termsModalOK.addEventListener("click", closeTermsModal);
        cardModalOK.addEventListener("click", closeCardModal);
        fakeModalOK.addEventListener("click", closeFakeModal);
        makePasswdModalOK.addEventListener("click", closeMakePasswdModal);
        checkPasswdModalOK.addEventListener("click", checkNewPassword);
        issueModalOK.addEventListener("click", closeissueModal);
        addressModalOK.addEventListener("click", closeAddressModal);
    
        amountModalNO.addEventListener("click", redirectToHome);
        passwordModalNO.addEventListener("click", redirectToHome);
        accountModalNO.addEventListener("click", redirectToHome);
        termsModalNO.addEventListener("click", redirectToHome);
        cardModalNO.addEventListener("click", redirectToHome);
        makePasswdModalNO.addEventListener("click", redirectToHome);
        checkPasswdModalNO.addEventListener("click", redirectToHome);
        issueModalNO.addEventListener("click", redirectToHome);
        addressModalNO.addEventListener("click", redirectToHome);

        function addChat(sentence, check=false) {
          chatBody.innerHTML += '<div class="from-them"><p style="margin-bottom: 0px;">' + sentence + '</p></div><div class="clear"></div>'
          objBody.scrollTop = objBody.scrollHeight;
          speech(sentence, check);
          step += 1;
        }
        
        function addChatNoTts(sentence) {
          chatBody.innerHTML += '<div class="from-them"><p style="margin-bottom: 0px;">' + sentence + '</p></div><div class="clear"></div>'
          objBody.scrollTop = objBody.scrollHeight;
          step += 1;
        }


        //반복해서 읽어주는거??
        function printAndTTS(senlist, check = false) {
          list_modal = ["모달-금액", "모달-비밀번호", "모달-계좌번호", "모달-약관", "모달-카드"]
          var delaySec = 3000;

          for(let j =0; j<senlist.length ; j++) {

            var anonFunc = function(j) {
              
              var timer = setTimeout(() => {
                
                if(senlist[j]=="...") addChatNoTts(senlist[j]);
                else if (senlist[j] == "모달-금액"){
                  sendFlag = 1;
                  $('#amountModal').modal('show');
                }else if (senlist[j] == "모달-비밀번호"){
                  accountFlag = 1;
                  $('#passwdModal').modal('show');
                } else if (senlist[j] == "모달-계좌번호"){
                  $('#accountModal').modal('show');
                }  else if (senlist[j] == "모달-약관"){
                  $('#termsModal').modal('show');
                  cardFlag = 1
                } else if (senlist[j] == "모달-카드"){
                  $('#cardModal').modal('show');
                }
                else if (senlist[j]!="") addChat(senlist[j], check);
                else window.location.href = '/';   
              }, j*delaySec)
          console.log(3333333333)
            }
            anonFunc(j);
            if (list_modal.indexOf(senlist[j]) != -1 ){
              delaySec = delaySec + 1000000;
            }
          }
        }
        if(texts == 'button'){
          recognition.stop()  
          var searchlist = search(answer)
          searchlist = searchlist.slice(1,)
          printAndTTS(searchlist, false)
          return
        }

        // 타겟 넘버 별 TTS 시작 부분  
        
          if (answer == "다시 말씀해주세요"){
            printAndTTS(answer, true)
            console.log(22222222)
            return
          }
          printAndTTS(answer)
          console.log(111111111)
  }
  // TTS end
</script>

<script>
  accountFlag = 0;
  sendFlag = 2; // 1 : 출금,  2 : 송금
  makeFlag = 0; // 0 : 처음, 1 : 확인
  cardFlag = 0;

  // 비밀번호 모달 함수
  amount = ""
  password = ""    
  newPassword = ""
  checkPassword = ""
  account = ""
  localStorage.setItem("password", "1234");
  localStorage.setItem("newPassword", "");

  function put_num(value, modal) {
    if (modal == "password")
    {
      var input = document.querySelector("#passwdModalInput")
      input.value += value;
      password = input.value;  
    }
    else if (modal == "amount")
    {
      var input = document.querySelector("#amountModalInput")
      if (input.value === "" && value === 0)
        return ;
      input.value = input.value.split(',').join("") + value;
      input.value = input.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      amount = input.value
    }
    else if (modal == "account")
    {
      var input = document.querySelector("#accountModalInput")
      if (input.value === "" && value === 0)
        return ;
      input.value += value;
      account = input.value;
    }
    else if (modal == "make")
    {
      var input = document.querySelector("#makePasswdModalInput")
      input.value += value;
      newPassword = input.value;
    }
    else if (modal == "check")
    {
      var input = document.querySelector("#checkPasswdModalInput")
      input.value += value;
      checkPassword = input.value;
    }
  }

  function reset(modal) {
    if (modal == "password")
    {
      var input = document.querySelector("#passwdModalInput")
      input.value = ""
      password = input.value;
    }
    else if (modal == "amount")
    {
      var input = document.querySelector("#amountModalInput")
      input.value = ""
      amount = input.value
    }
    else if (modal == "account")
    {
      var input = document.querySelector("#accountModalInput")
      input.value = ""
      account = input.value;
    }
    else if (modal == "make")
    {
      var input = document.querySelector("#makePasswdModalInput")
      input.value = ""
      newPassword = input.value;
    }
    else if (modal == "check")
    {
      var input = document.querySelector("#checkPasswdModalInput")  
      input.value = ""
      checkPassword = input.value;
    }
  }

  function clearOne(modal) {
    if (modal == "password")
    {
      var input = document.querySelector("#passwdModalInput")
      if (input.value != "")
        input.value = input.value.slice(0, -1);
      password = input.value
    }
    else if (modal == "amount")
    {
      var input = document.querySelector("#amountModalInput")
      if (input.value != "")
      input.value = input.value.split(',').join("")
      input.value = input.value.slice(0, -1);
      input.value = input.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      amount = input.value
    }
    else if (modal == "account")
    {
      var input = document.querySelector("#accountModalInput")
      if (input.value != "")
        input.value = input.value.slice(0, -1);
      account = input.value
    }
    else if (modal == "make")
    {
      var input = document.querySelector("#makePasswdModalInput")
      if (input.value != "")
        input.value = input.value.slice(0, -1);
      newPassword = input.value
    }
    else if (modal == "check")
    {
      var input = document.querySelector("#checkPasswdModalInput")
      if (input.value != "")
        input.value = input.value.slice(0, -1);
      checkPassword = input.value
    }
  }

  // 약관동의 모달 함수

  const termsModalCheckbox = document.querySelector('#termsCheckbox')
  const termsModalOK = document.querySelector('#termsModalOK')

  function handleCheckbox() {
    termsModalCheckbox.checked === false ? termsModalOK.disabled = true : termsModalOK.disabled = false
  }

  termsModalCheckbox.addEventListener("click", handleCheckbox)

  // 카드발급 모달 함수

  card = [
    { "tag" : "<div class='cardUnit'><img class='cardImg' src='/static/img/04285_img.png' alt='cheongchun'>\
      <div class='cardText'>\
        <h3>\
          <input type='checkbox' name='card' onclick='checkOnlyOne(this)' id='card_1'>\
          스카이패스 티타늄 카드\
        </h3>\
        <div>\
          <b>대한항공 마일리지 기본적립에</b>\
        </div>\
        <div>\
          <b>해외/면세점 추가적립 혜택까지!</b>\
        </div><br>\
        <div>\
          국내가맹점 적립 1마일 1,000원 당\
        </div>\
        <div>\
          해외이용 적립 2마일 1,000원 당\
        </div>\
        <div>\
          면세점 적립 2마일 1,000원 당\
        </div>\
      </div>\
    </div>", "content" : ""},
    { "tag" : "<div class='cardUnit'><img class='cardImg' src='/static/img/02065_img.png' alt='cheongchun'>\
      <div class='cardText'>\
        <h3>\
          <input type='checkbox' name='card' onclick='checkOnlyOne(this)' id='card_2'>\
          국민행복카드\
        </h3>\
        <div>\
          <b>보육료 및 임신·출산 진료비 지원 등</b>\
        </div>\
        <div>\
          <b> 국가바우처 지원 가능</b>\
        </div><br>\
        <div>\
          쇼핑/교육/자동납부 5% 청구할인\
        </div>\
        <div>\
          단체보험가입 대중교통 상해 1억 보장\
        </div>\
        <div>\
          단체보험가입 진단비 10만원\
        </div>\
      </div>\
    </div>","content" : ""},
    { "tag" : "<div class='cardUnit'><img class='cardImg' src='/static/img/09157_img.png' alt='cheongchun'>\
      <div class='cardText'>\
        <h3>\
          <input type='checkbox' name='card' onclick='checkOnlyOne(this)' id='card_2'>\
          가온올림카드(실속형)\
        </h3>\
        <div>\
          <b>실적조건 없이 국내가맹점 적립</b>\
        </div>\
        <div>\
          <b>해외가맹점 캐시백! 국가바우처 지원 가능</b>\
        </div><br>\
        <div>\
          국내가맹점 0.7% 기본적립\
        </div>\
        <div>\
          주말/공휴일 0.5% 추가적립\
        </div>\
        <div>\
          음식·교통 0.5% 추가적립\
        </div>\
      </div>\
    </div>","content" : ""},
    { "tag" : "<div class='cardUnit'><img class='cardImg' src='/static/img/09174_img.png' alt='cheongchun'>\
      <div class='cardText'>\
        <h3>\
          <input type='checkbox' name='card' onclick='checkOnlyOne(this)' id='card_2'>\
          청춘대로 톡톡카드\
        </h3>\
        <div>\
          <b>Simple하게 즐기자! 혜택 톡톡!</b>\
        </div>\<br>\
        <div>\
          스타벅스 50% 청구할인\
        </div>\
        <div>\
          버거/패스트푸드 20% 청구할인\
        </div>\
        <div>\
          간편결제 Pay 10% 청구할인\
        </div>\
      </div>\
    </div>","content" : ""},
    { "tag" : "<div class='cardUnit'><img class='cardImg' src='/static/img/09251_img.png' alt='cheongchun'>\
      <div class='cardText'>\
        <h3>\
          <input type='checkbox' name='card' onclick='checkOnlyOne(this)' id='card_2'>\
          Easy pick 티타늄카드\
        </h3>\
        <div>\
          <b>주요 생활 영역부터 내가 Pick한</b>\
        </div>\
        <div>\
          <b>영역까지 모두 적립 Easy!</b>\
        </div><br>\
        <div>\
          주요 생활 영역 5% 적립\
        </div>\
        <div>\
          선호 영역(택1) 5% 적립\
        </div>\
        <div>\
          일상 생활 영역 5% 적립\
        </div>\
      </div>\
    </div>","content" : ""},
    { "tag" : "<div class='cardUnit'><img class='cardImg' src='/static/img/09644_img.png' alt='cheongchun'>\
      <div class='cardText'>\
        <h3>\
          <input type='checkbox' name='card' onclick='checkOnlyOne(this)' id='card_2'>\
          우리동네 체크카드\
        </h3>\
        <div>\
          <b>다 같이 돌자 동네 한 바퀴</b>\
        </div><br>\
        <div>\
          세탁소, 정육점 10% 환급할인\
        </div>\
        <div>\
          빵집, 슈퍼마켓 5% 환급할인\
        </div>\
        <div>\
          취향거래 (번개장터) 5% 환급할인\
        </div>\
      </div>\
    </div>","content" : ""},
  ]
  const cardContent = document.querySelector('#cardContent')
  cardContent.innerHTML += card[0].tag
  cardContent.innerHTML += card[1].tag
  cardContent.innerHTML += card[2].tag
  cardContent.innerHTML += card[3].tag
  cardContent.innerHTML += card[4].tag
  cardContent.innerHTML += card[5].tag

  function checkOnlyOne(element) {
  
  const checkboxes = document.getElementsByName("card");
  const cardModalOK = document.querySelector("#cardModalOK")

  if (element.checked === false)
  {
    element.checked = false;
    cardModalOK.disabled = true;
    return;
  }
  
  checkboxes.forEach((cb) => {
    cb.checked = false;
  })
  
  element.checked = true;
  cardModalOK.disabled = false;
}

// 배송지입력 모달 함수

const addressInput = document.querySelector("#addressInput")
const addressModalOK = document.querySelector("#addressModalOK")

function onInput() {
  if (addressInput.value !== "")
    addressModalOK.disabled = false
  else
    addressModalOK.disabled = true
}

addressInput.addEventListener("input", onInput)


  document.body.style.overflow = "hidden"

  const chatForm = document.querySelector(".submitForm");
  const chatInput = document.querySelector(".form_input");
  const chatBody = document.querySelector("section");
  const btn1 = document.querySelector("#btn_1");
  const btn2 = document.querySelector("#btn_2");
  const btn3 = document.querySelector("#btn_3");
  const btn4 = document.querySelector("#btn_4");
  const btn5 = document.querySelector("#btn_5");
  const btn6 = document.querySelector("#btn_6");

  chatForm.addEventListener("keyup", function (e) {
    if (e.key == 'Enter') {
      var submitContent = document.querySelector('#chat-input');
      console.log("enter 입력");
      handleChatSubmit(submitContent.value);
      submitContent.value = "";
    }
  });
  btn1.addEventListener("click", handleQuickBtn);
  btn2.addEventListener("click", handleQuickBtn);
  btn3.addEventListener("click", handleQuickBtn);
  btn4.addEventListener("click", handleQuickBtn);
  btn5.addEventListener("click", handleQuickBtn);
  btn6.addEventListener("click", handleQuickBtn);

  send_list = {
    "1" : "송금을 선택하셨습니다.",
    "2" : "입금을 선택하셨습니다.",
    "3" : "계좌조회을 선택하셨습니다.",
    "4" : "계좌개설을 선택하셨습니다.",
    "5" : "카드발급을 선택하셨습니다.",
    "6" : "출금을 선택하셨습니다.",
    "7" : "상품소개을 선택하셨습니다.",
  }

  answer_list = {
    "1" : ["송금을 도와드리겠습니다.",
    "카드 또는 통장을 넣어주세요.","...","송금하실 계좌번호를 입력해 주세요.", "모달-계좌번호", 
    "출금 또는 송금하실 금액을 입력해주세요.", "모달-금액", "비밀번호를 입력해주세요.",
    "모달-비밀번호","이용해 주셔서 감사합니다!","5초 후 자동으로 초기 화면으로 복귀합니다. 안녕히 가십시오.",""],
    "2" : [ "입금을 도와드리겠습니다. 카드 또는 통장을 넣어주세요.",
      "...",
      "보내실 금액을 투입구에 넣어주세요.",
      "...",
      "이용해 주셔서 감사합니다!",
      "5초 후 자동으로 메인 화면으로 복귀합니다.",""],
    "3" : ["계좌조회를 도와드리겠습니다.", "카드 또는 통장을 넣어주세요.", "..." , "비밀번호를 입력해주세요.","모달-비밀번호",
    "이용해 주셔서 감사합니다!","5초 후 자동으로 초기 화면으로 복귀합니다. 안녕히 가십시오.",""],
    "4" : ["계좌개설을 도와드리겠습니다.", "약관을 읽고 동의 버튼을 눌러주세요",
    "모달-약관","신분증을 촬영해 주세요.","이용해 주셔서 감사합니다!","5초 후 자동으로 초기 화면으로 복귀합니다. 안녕히 가십시오.",""],
    "5" : ["카드발급을 도와드리겠습니다. 발급을 원하시는 카드를 선택해주세요",
    "모달-카드", "약관을 읽고 동의 버튼을 눌러주세요", "모달-약관","신분증을 촬영해 주세요.","이용해 주셔서 감사합니다!","5초 후 자동으로 초기 화면으로 복귀합니다. 안녕히 가십시오.",""],
    "6" : ["출금을 도와드리겠습니다.", "카드 또는 통장을 넣어주세요.","...",
    "출금 또는 송금하실 금액을 입력해주세요.","모달-금액", "비밀번호를 입력해주세요.", "모달-비밀번호" ,
    "이용해 주셔서 감사합니다!","5초 후 자동으로 초기 화면으로 복귀합니다. 안녕히 가십시오.",""],
  }

  // 버튼 클릭
  function handleQuickBtn(event) {

    const objBody = document.querySelector(".chatbot-body");
    const target = event.target.value
    console.log(send_list[target]);
    chatBody.innerHTML += "<div class='from-me'><p style='margin-bottom: 0;'>" + send_list[target] + "</p></div><div class='claer'></div>"
    objBody.scrollTop = objBody.scrollHeight;
    make_body(answer_list[target][0], 'button', target);
  }

  // 채팅 입력
  function handleChatSubmit(chatContent) {

    const objBody = document.querySelector("section");

    if (chatContent == "")
      return;
    const inputValue = chatContent

    chatBody.innerHTML += '<div class="from-me"><p style="margin-bottom: 0px;">' + inputValue + '</p></div><div class="clear"></div>'

    objBody.scrollTop = objBody.scrollHeight;
    let target = promise_search(inputValue)
          .then()
          .catch((error) => {
              console.log(error)
          })

      async function logItems(target) {
        var target_num = await target;
        var speech_list = target_num.slice(1,)
      make_body(speech_list, inputValue, 0)
      }
      logItems(target)
      return;
  }

  axios.defaults.xsrfCookieName = 'csrftoken'
  axios.defaults.xsrfHeaderName = 'X-CSRFToken'
  window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
  
  let recognition = new SpeechRecognition();
  recognition.interimResults = false;
  recognition.lang = 'ko-KR';
  

  
  let p = null;
  var recorder;
  
  var audio = document.querySelector('audio'); 



  
  {% comment %} recognition.stop(); {% endcomment %}
  recognition.onstart = function() {
    this.disabled = true; 
    captureMicrophone(function (microphone) { 
        var binaryData = [];
        binaryData.push(microphone);
        window.URL.createObjectURL(new Blob(binaryData, {type: "audio.wav"}))
        recorder = RecordRTC(microphone, { 
            type: 'audio', 
            recorderType: StereoAudioRecorder, 
            numberOfAudioChannels: 1, // or leftChannel:true 
            desiredSampRate: 16000 
        }); 
        recorder.startRecording(); 
        // release microphone on stopRecording
        recorder.microphone = microphone; 
        // document.getElementById('btn-stop-recording').disabled = false; 
        }); 
    };
    recognition.onend = function() {

      this.disabled = true; 
      recorder.stopRecording(stopRecordingCallback); 
      // document.getElementById('btn-start-recording').disabled = false; 
      recognition.stop();
  
    };
    
    recognition.onresult = function(e) {
      console.log(e)
      let texts = Array.from(e.results)
      .map(results => results[0].transcript).join("");
      
      chatBody.innerHTML += '<div class="from-me"><p style="margin-bottom: 0px;">' + texts + '</p></div><div class="clear"></div>'

      let target = promise_search(texts)
          .then()
          .catch((error) => {
              console.log(error)
          })


      

      async function logItems(target) {
        var answer_list = await target;
        var num = answer_list.slice(0, 1)
        answer_list = answer_list.slice(1,)
        console.log("answer: ", answer_list, "texts : ", texts, "num : ", num);
        make_body(answer_list, texts, num)
      }    
      logItems(target)
  };


  function captureMicrophone(callback) { 
      navigator.getUserMedia = navigator.getUserMedia || navigator.mozGetUserMedia || navigator.webkitGetUserMedia; 
      navigator.getUserMedia({audio: true}, callback, function (error) { 
          alert('Unable to access your microphone.'); 
          console.error(error); 
      }); 
  } 
 

  function stopRecordingCallback() { 
    var blob = recorder.getBlob(); 
    audio.src = URL.createObjectURL(blob); 
    recorder.microphone.stop();

    blobToDataURL(blob, function (dataurl) {
      
      var emotion_score_dict= {0 : 0.2 , 1: 0.2, 2: 0.6, 3: 0.1 , 4: 0.1, 5: 0.3, 6: 0.4, 7: 0}
        const data = {
            'url': dataurl
        }
        axios({
            method: 'post',
            url: 'http://127.0.0.1:8000/createSound',
            data: data,
            headers: {
                "Content-Type": 'application/json',
            },
            csrfmiddlewaretoken: '{{ csrf_token }}',
        }).then(function(response){
            console.log(response.data)
            scam_dict = response.data

            // $('#emotion_Modal').modal('show');

            var y = scam_dict['scam'] * 50 + emotion_score_dict[scam_dict['vgg']] * 20
            console.log("y값은:"+y)
  
            
            // 감정 분석 모델 사용 (고객의 감정 수준에 따라 실제 행원 연결)
            if ( y<23 && (scam_dict['vgg'] == 0 || scam_dict['vgg'] == 1)) {
              $('#emotion_Modal').modal('show');
              
            }
            else if(23<=y &&y<37) { // 0.3*50 + 0.4*20 = 23  // 0.5*50 + 0.6*20 = 37
              $('#scaModal_1').modal('show');
            }
            else if (37<=y && y<53) { // 0.5*50 + 0.6*20 = 37 // 0.9*50 + 0.4*20 = 53
              $('#scaModal_2').modal('show');
            }
            else if (y>=53) { // 0.9*50 + 0.4*20 = 53
              $('#scaModal_3').modal('show');
            }
        
            /*
            if (scam_dict['scam'] > 0.2  && scam_dict['scam'] < 0.5){
              $('#scaModal_1').modal('show');
            }else if(scam_dict['scam'] >= 0.5 && scam_dict['scam'] < 0.9){
              $('#scaModal_2').modal('show');
              
            }else if(scam_dict['scam'] >= 0.9){
              $('#scaModal_3').modal('show');
            } 
            */

            // $('#passwdModal').modal('hide');
        })
    })
}


function blobToDataURL(blob, callback) {
    var a = new FileReader();
    a.onload = function(e) {callback(e.target.result);}
    a.readAsDataURL(blob);
}
  $("#restart").click(function () {
    recognition.start();
  })
  
  $('#stoptts').click(function () {
    window.speechSynthesis.cancel();
    console.log(window.speechSynthesis);
  })

</script>

{% endblock %}