{% extends "base.html" %}

{% block content %}
<div class="main-frame row">
    <div class="ai-screen col-4">
        <div class="ai-screen-title d-flex">
            <p class="m-0">AI 일반 행원 김범수</p>
        </div>
        <div class="ai-screen-main">
        </div>
    </div>
    <div class="chatbot-screen col-8 d-flex justify-content-center align-items-center">
      <div class="container">
        <div class="body">
          <div class="receive">
            <div class="word">
            "좋은 아침입니다! AI 행원 ㅇㅇㅇ입니다.” <br><br>
            “무엇을 도와드릴까요?”
            </div>
            <div class="quick-container">
              <div><빠른 업무></div>
              <button class="quick_btn">1. 입금</button>
              <button class="quick_btn">2. 출금</button>
              <button class="quick_btn">3. 송금</button>
              <button class="quick_btn">4. 계좌조회</button>
              <button class="quick_btn">5. 계좌개설</button>
              <button class="quick_btn">6. 카드발급</button>
              <button class="quick_btn">7. 상품소개</button>
            </div>
            <div class="padding"></div>
          </div>
        </div>
        <div class="input_bar">
          <form class="form">
            <input type="text" class="form_input">
            <button class="btn">전송</button>
          </form>
        </div>
      </div>
    </div>
</div>
<style scoped>

    .main-frame {
        height: 56rem;
    }

    .ai-screen-title {
        background-color: #f8a70c;
        height: 10%;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .ai-screen-main {
        background-color: black;
        height: 90%;
    }
    
    .chatbot-screen {
      background-color : #F0F0F0;
    }

    .body {
      height : 95%;
    }

    .input_bar {
      height : 5%;
      width : 100%;
      background-color : #FFFFFF;
    }

    .form_input {
      width : 85%;
      height : 5%;
      font-size : 20px;
      border : transparent;
    }

    .btn {
      padding : 0px;
      width : 10%;
    }

    .container {
      padding : 0px;
      width: 70%;
      height : 100%;
      background-color: #9bbbd4;
    }

    .send {
      border-radius : 1em;
      background-color : #FFFFFF;
      margin-top : 10px;
      margin-right : 10px;
      padding-right: 15px;
      padding-left : 15px;
      width : 40%;
      margin-left: auto;
      white-space: normal;
      word-wrap: break-word;
    }

    .receive {
      border-radius : 1em;
      background-color : #FFFFFF;
      margin-top : 10px;
      margin-right : 10px;
      margin-left : 10px;
      padding-right: 15px;
      padding-left : 15px;
      width : 40%;
      height : auto;
      margin-right: auto;
      white-space: normal;
      word-wrap: break-word;
    }

    .quick-container {
      border : 2px solid #F0F0F0;
      border-radius : 0.5em;
      text-align : center;
      padding-bottom : 10px;
      margin : 10px;
    }

    .quick_btn {
      width : 97%;
      border-radius : 0.5em;
      border : transparent;
      margin-top : 5px;
    }

    .word {
      padding-top : 15px;
      margin-bottom : 15px;
    }

    .padding {
      padding : 5px;
    }

</style>
<script>
  document.body.style.overflow = "hidden"

  const chatForm = document.querySelector(".form");
  const chatInput = document.querySelector(".form_input");
  const chatBody = document.querySelector(".body");

  function handleChatSubmit(event) {

    function checkValue(inputValue) {
      const list = {
        "송금" : true,
        "입금" : true,
      }
      if (list[inputValue] === undefined)
        return false
      return true
    }

    event.preventDefault();
    const inputValue = chatInput.value;
    chatBody.innerHTML += "<div class='send'>" + inputValue + "</div>"
    chatInput.value = "";
    if (checkValue(inputValue) === false)
      chatBody.innerHTML += '<div class="receive">“죄송합니다. 고객님, 다시 한 번 말씀해주시겠습니까?"</div>'
  }

  chatForm.addEventListener("submit", handleChatSubmit);
  
</script>
{% endblock %}