{% extends "base.html" %}

{% block content %}


{% load static %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<div class="main-frame row">
    <div class="ai-screen col-4 p-0">
        <div class="ai-screen-title d-flex">
            <p class="lunas title">AI 일반 행원 루나스</p>
        </div>
        <video class="ai_lunas" src="{% static '/video/ai.mp4' %}" type="video/mp4"></video>
    </div>
    <div class="chatbot-screen col-8 d-flex justify-content-end align-items-center">
      <div class="chatbot-container">
        <div class="chatbot-body">
          <section>
          <div class="from-them">
            <p><b>
              "좋은 하루입니다! AI 행원 루나스입니다.” <br><br>
              “무엇을 도와드릴까요?”
            </b></p>
            <div class="quick-container">
              <div><빠른 업무></div>
              <button class="quick_btn" id="btn_2" value="2">1. 입금</button>
              <button class="quick_btn" id="btn_6" value="6">2. 출금</button>
              <button class="quick_btn" id="btn_1" value="1">3. 송금</button>
              <button class="quick_btn" id="btn_3" value="3">4. 계좌조회</button>
              <button class="quick_btn" id="btn_4" value="4">5. 계좌개설</button>
              <button class="quick_btn" id="btn_5" value="5">6. 카드발급</button>
            </div>
            <div class="padding"></div>
          </div>
          <div class="clear"></div>
        </section>
        </div>
      <div class="form-floating">
        <input type="text" class="form-control submitForm" id="chat-input">
        <label for="chat-input">무엇을 도와드릴까요?</label>
      </div>
    </div>
  </div>
    <!--비밀번호 모달-->
    <div class="modal fade" id="passwdModal" tabindex="-1" aria-labelledby="passwdModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">비밀번호를 입력해주세요.</h5>
          </div>
          <div class="form-group formCss">
              <input class="form-control passwdInput" id="passwdModalInput" type="password" value="" readonly/>
            <div class="btnGroup">
              <button class="btn btn-primary passwdBtn" id="passwdBtn_1" value="1" onclick="put_num(1 ,'password')">1</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_2" value="2" onclick="put_num(2 ,'password')">2</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_3" value="3" onclick="put_num(3 ,'password')">3</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_4" value="4" onclick="put_num(4 ,'password')">4</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_5" value="5" onclick="put_num(5 ,'password')">5</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_6" value="6" onclick="put_num(6 ,'password')">6</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_7" value="7" onclick="put_num(7 ,'password')">7</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_8" value="8" onclick="put_num(8 ,'password')">8</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_9" value="9" onclick="put_num(9 ,'password')">9</button>
              <button class="btn btn-primary passwdBtn2" id="passwdBtn_reset" value="r" onclick="reset('password')">초기화</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_0" value="0" onclick="put_num(0, 'password')">0</button>
              <button class="btn btn-primary passwdBtn2" id="passwdBtn_clear" value="c" onclick="clearOne('password')">지움</button>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary footerBtn" id="passwordModalOK">확인</button>
            <button type="button" class="btn btn-secondary footerBtn" id="passwordModalNO" data-bs-dismiss="modal">취소</button>
          </div>
        </div>
      </div>
    </div>
    <!--금액 모달-->
    <div class="modal fade" id="amountModal" tabindex="-1" aria-labelledby="amountModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="amountModalTitle">출금하실 금액을 입력해주세요.</h5>
          </div>
          <div class="form-group formCss">
            <input class="form-control passwdInput" id="amountModalInput" value="" readonly/>
            <div class="btnGroup">
              <button class="btn btn-primary passwdBtn" id="amountBtn_1" value="1" onclick="put_num(1, 'amount')">1</button>
              <button class="btn btn-primary passwdBtn" id="amountBtn_2" value="2" onclick="put_num(2, 'amount')">2</button>
              <button class="btn btn-primary passwdBtn" id="amountBtn_3" value="3" onclick="put_num(3, 'amount')">3</button>
              <button class="btn btn-primary passwdBtn" id="amountBtn_4" value="4" onclick="put_num(4, 'amount')">4</button>
              <button class="btn btn-primary passwdBtn" id="amountBtn_5" value="5" onclick="put_num(5, 'amount')">5</button>
              <button class="btn btn-primary passwdBtn" id="amountBtn_6" value="6" onclick="put_num(6, 'amount')">6</button>
              <button class="btn btn-primary passwdBtn" id="amountBtn_7" value="7" onclick="put_num(7, 'amount')">7</button>
              <button class="btn btn-primary passwdBtn" id="amountBtn_8" value="8" onclick="put_num(8, 'amount')">8</button>
              <button class="btn btn-primary passwdBtn" id="amountBtn_9" value="9" onclick="put_num(9, 'amount')">9</button>
              <button class="btn btn-primary passwdBtn2" id="amountBtn_reset" value="r" onclick="reset('amount')">초기화</button>
              <button class="btn btn-primary passwdBtn" id="amountBtn_0" value="0" onclick="put_num(0, 'amount')">0</button>
              <button class="btn btn-primary passwdBtn2" id="amountBtn_clear" value="c" onclick="clearOne('amount')">지움</button>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary footerBtn" id="amountModalOK">확인</button>
            <button type="button" class="btn btn-secondary footerBtn" id="amountModalNO">취소</button>
          </div>
        </div>
      </div>
    </div>
    <!--계좌조회 모달-->
    <div class="modal fade" id="balanceModal" tabindex="-1" aria-labelledby="balanceModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">계좌를 조회합니다.</h5>
            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
          </div>
          <div class="form-group">
            <table class="balanceTable">
              <tr>
                <td class="head">계좌이름 : </td>
                <td>KB나라사랑우대통장</td>
              </tr>
              <tr>
                <td class="head">계좌번호 : </td>
                <td>123456-01-123456</td>
              </tr>
              <tr>
                <td class="head">잔액 : </td>
                <td>800,000,000 원</td>
              </tr>
              <tr>
                <td class="head">출금가능금액 : </td>
                <td>800,000,000 원</td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary footerBtn" id="balanceModalSEND">송금</button>
            <button type="button" class="btn btn-secondary footerBtn" id="balanceModalWithdraw">출금</button>
            <button type="button" class="btn btn-primary footerBtn" id="balanceModalOK">확인</button>
          </div>
        </div>
      </div>
    </div>
    <!--약관동의 모달-->
    <div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">약관을 읽고 동의해주세요.</h5>
            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
          </div>
          <div class="terms" id="terms">
            <div class="termsContent">
              <embed src="{% static 'text/terms.txt' %}" height="550" width="400">
            </div>
          </div>
          <div class="modal-footer">
            <div class="termsCheckbox">
              <input type="checkbox" id="termsCheckbox"> 약관을 충분히 이해하였으며 동의합니다. </input>
            </div>
            <button type="button" class="btn btn-primary footerBtn" id="termsModalOK" disabled="true">확인</button>
            <button type="button" class="btn btn-secondary footerBtn" id="termsModalNO">취소</button>
          </div>
        </div>
      </div>
    </div>
    <!--카드추천 모달-->
    <div class="modal fade" id="cardModal" tabindex="-1" aria-labelledby="cardModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">발급을 원하시는 카드를 선택해주세요.</h5>
          </div>
          <div class="cardList">
            <div class="cardContent" id="cardContent">
            </div>
          </div>
          <div class="modal-footer">  
            <button type="button" class="btn btn-primary footerBtn" id="cardModalOK" disabled="true">확인</button>
            <button type="button" class="btn btn-secondary footerBtn" id="cardModalNO">취소</button>
          </div>
        </div>
      </div>
    </div>
    <!--카드발급 모달-->
    <div class="modal fade" id="issueModal" tabindex="-1" aria-labelledby="issueModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-ms">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">카드를 발급하시겠습니까?</h5>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary footerBtn" id="issueModalOK">확인</button>
            <button type="button" class="btn btn-secondary footerBtn" id="issueModalNO">취소</button>
          </div>
        </div>
      </div>
    </div>
    <!--배송지입력 모달-->
    <div class="modal fade" id="addressModal" tabindex="-1" aria-labelledby="addressModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-ms">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">카드를 배송받을 주소를 입력해주세요.</h5>
          </div>
          <div>
            <div class="addressContent" id="addressContent">
              <input type="text" class="addressInput" id="addressInput">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary footerBtn" id="addressModalOK" disabled="true">확인</button>
            <button type="button" class="btn btn-secondary footerBtn" id="addressModalNO">취소</button>
          </div>
        </div>
      </div>
    </div>
    <!--계좌번호 모달-->
    <div class="modal fade" id="accountModal" tabindex="-1" aria-labelledby="accountModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">송금하실 계좌번호를 입력해주세요.</h5>
          </div>
          <div class="form-group formCss">
            <input class="form-control passwdInput" id="accountModalInput" value="" readonly/>
            <div class="btnGroup">
              <button class="btn btn-primary passwdBtn" id="accountBtn_1" value="1" onclick="put_num(1, 'account')">1</button>
              <button class="btn btn-primary passwdBtn" id="accountBtn_2" value="2" onclick="put_num(2, 'account')">2</button>
              <button class="btn btn-primary passwdBtn" id="accountBtn_3" value="3" onclick="put_num(3, 'account')">3</button>
              <button class="btn btn-primary passwdBtn" id="accountBtn_4" value="4" onclick="put_num(4, 'account')">4</button>
              <button class="btn btn-primary passwdBtn" id="accountBtn_5" value="5" onclick="put_num(5, 'account')">5</button>
              <button class="btn btn-primary passwdBtn" id="accountBtn_6" value="6" onclick="put_num(6, 'account')">6</button>
              <button class="btn btn-primary passwdBtn" id="accountBtn_7" value="7" onclick="put_num(7, 'account')">7</button>
              <button class="btn btn-primary passwdBtn" id="accountBtn_8" value="8" onclick="put_num(8, 'account')">8</button>
              <button class="btn btn-primary passwdBtn" id="accountBtn_9" value="9" onclick="put_num(9, 'account')">9</button>
              <button class="btn btn-primary passwdBtn2" id="accountBtn_reset" value="r" onclick="reset('account')">초기화</button>
              <button class="btn btn-primary passwdBtn" id="accountBtn_0" value="0" onclick="put_num(0, 'account')">0</button>
              <button class="btn btn-primary passwdBtn2" id="accountBtn_clear" value="c" onclick="clearOne('account')">지움</button>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary footerBtn" id="accountModalOK">확인</button>
            <button type="button" class="btn btn-secondary footerBtn" id="accountModalNO">취소</button>
          </div>
        </div>
      </div>
    </div>
    <!--비밀번호 생성 모달-->
    <div class="modal fade" id="makePasswdModal" tabindex="-1" aria-labelledby="makePasswdModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="makePasswdTitle">생성하실 비밀번호를 입력해주세요.</h5>
          </div>
          <div class="form-group formCss">
            <input class="form-control passwdInput" id="makePasswdModalInput" type="password" value="" readonly/>
            <div class="btnGroup">
              <button class="btn btn-primary passwdBtn" id="passwdBtn_1" value="1" onclick="put_num(1, 'make')">1</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_2" value="2" onclick="put_num(2, 'make')">2</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_3" value="3" onclick="put_num(3, 'make')">3</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_4" value="4" onclick="put_num(4, 'make')">4</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_5" value="5" onclick="put_num(5, 'make')">5</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_6" value="6" onclick="put_num(6, 'make')">6</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_7" value="7" onclick="put_num(7, 'make')">7</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_8" value="8" onclick="put_num(8, 'make')">8</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_9" value="9" onclick="put_num(9, 'make')">9</button>
              <button class="btn btn-primary passwdBtn2" id="passwdBtn_reset" value="r" onclick="reset('make')">초기화</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_0" value="0" onclick="put_num(0, 'make')">0</button>
              <button class="btn btn-primary passwdBtn2" id="passwdBtn_clear" value="c" onclick="clearOne('make')">지움</button>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary footerBtn" id="makePasswdModalOK">확인</button>
            <button type="button" class="btn btn-secondary footerBtn" id="makePasswdModalNO">취소</button>
          </div>
        </div>
      </div>
    </div>
    <!--비밀번호 확인 모달-->
    <div class="modal fade" id="checkPasswdModal" tabindex="-1" aria-labelledby="checkPasswdModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="checkPasswdTitle">생성하실 비밀번호를 다시 입력해주세요.</h5>
          </div>
          <div class="form-group formCss">
            <input class="form-control passwdInput" id="checkPasswdModalInput" type="password" value="" readonly/>
            <div class="btnGroup">
              <button class="btn btn-primary passwdBtn" id="passwdBtn_1" value="1" onclick="put_num(1, 'check')">1</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_2" value="2" onclick="put_num(2, 'check')">2</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_3" value="3" onclick="put_num(3, 'check')">3</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_4" value="4" onclick="put_num(4, 'check')">4</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_5" value="5" onclick="put_num(5, 'check')">5</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_6" value="6" onclick="put_num(6, 'check')">6</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_7" value="7" onclick="put_num(7, 'check')">7</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_8" value="8" onclick="put_num(8, 'check')">8</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_9" value="9" onclick="put_num(9, 'check')">9</button>
              <button class="btn btn-primary passwdBtn2" id="passwdBtn_reset" value="r" onclick="reset('check')">초기화</button>
              <button class="btn btn-primary passwdBtn" id="passwdBtn_0" value="0" onclick="put_num(0, 'check')">0</button>
              <button class="btn btn-primary passwdBtn2" id="passwdBtn_clear" value="c" onclick="clearOne('check')">지움</button>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary footerBtn" id="checkPasswdModalOK">확인</button>
            <button type="button" class="btn btn-secondary footerBtn" id="checkPasswdModalNO">취소</button>
          </div>
        </div>
      </div>
    </div>
    <!--가짜 모달-->
    <div class="modal fade" id="fakeModal" tabindex="-1" aria-labelledby="accountModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">신분증을 촬영해주세요.</h5>
          </div>
          <div>
            <div>1. <촬영> 버튼을 눌러주세요.</div> <br>
            <div>2. 신분증을 카메라 앞에 위치시키고 Enter 키를 눌러 촬영해주세요.</div><br>
            <div>3. 촬영이 끝났으면, <확인> 버튼을 눌러주세요.</div>
            <div></div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary footerBtn" onclick="openCamera()" id="fakeModal ">촬영</button>
            <button type="button" class="btn btn-secondary footerBtn" id="fakeModalOK">확인</button>
          </div>
        </div>
      </div>
    </div>
    <!--보이스피싱 1단계 모달-->
    <div class="modal fade" id="scaModal_1" tabindex="-1" aria-labelledby="scam_ModlaLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">보이스피싱 1 단계</h5>
          </div>
          <div>
            <div> 고객님께선 현재 보이스피싱 위험 1 단계입니다. </div> <br>
            <div>검찰, 경찰, 금융감독원이나 모르는 사람이 전화로 출금 및 이체를 요청하였습니까?</div><br>
            <div>또는, 대출받기 위해서는 먼저 수수료, 기존 대출금 상환 등이 필요하다며 <출금 이체>를 요청하였습니까? </div>
            <div></div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary footerBtn" onclick="window.location.href = '/'" id="scaModal_1">예</button>
            <button type="button" class="btn btn-secondary footerBtn" id="scamModal_cancel" data-bs-dismiss="modal">아니요</button>
          </div>
        </div>
      </div>
    </div>
    <!--보이스피싱 2단계 모달-->
      <div class="modal fade" id="scaModal_2" tabindex="-1" aria-labelledby="보이스피싱" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">보이스피싱 2 단계</h5>
            </div>
            <div>
              <div> 고객님께선 현재 보이스피싱 위험 2 단계입니다. </div> <br>
              <div> 고객님께서는 혹시 기관(국세청, 검찰 금융감독원, 국민연금 관리공단, 금융기관 등)이나 낯선 사람의 전화를 받고 이 거래를 하고 계십니까? </div>
              <div></div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary footerBtn" onclick="window.location.href = '/'" id="scamModal_check">예</button>
              <button type="button" class="btn btn-secondary footerBtn" id="scamModal_cancel" data-bs-dismiss="modal">아니요</button>
            </div>
          </div>
        </div>
      </div>
      <!--보이스피싱 3단계 모달-->
      <div class="modal fade" id="scaModal_3" tabindex="-1" aria-labelledby="보이스피싱" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">보이스피싱 3 단계</h5>
            </div>
            <div>
              <div> 고객님께선 현재 보이스피싱 위험 최고 단계수준입니다. </div> <br>
              <div> 보이스피싱 피해가 크게 의심되오니, 경찰에 조용히 신고해드릴까요? </div> <br>
              <div> (만약, 이미 현 상황에서 피해입은 금액이 있다면, 피해금 환급 신청을 하시기 바랍니다) </div>
              <div></div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary footerBtn" onclick="window.location.href='https://www.fss.or.kr/fss/main/contents.do?menuNo=200366'" id="scamModal_check">예</button>
              <button type="button" class="btn btn-secondary footerBtn" id="scamModal_cancel" data-bs-dismiss="modal">아니요</button>
            </div>
          </div>
        </div>
      </div>

      <!-- 감정 분류 모달(많이 화나셨으면 일반 행원 연결해드릴까요?)-->
      <div class="modal fade" id="emotion_Modal" tabindex="-1" aria-labelledby="emotion-classification" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">고객님의 더 편리한 서비스 이용을 위해 노력하겠습니다!</h5>
            </div>
            <div>
              <div> 고객님, 저희 루나스 행원이 잘 작동하지 않아 불편함이 있으신가요? </div> <br>
              <div>고객님의 원활한 금융 업무 지원을 위해 최선을 다할 것을 약속드립니다.</div><br>
              <div> 실제 사람 행원과 연결해드릴까요? </div>
              <div></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary footerBtn" onclick="openCamera()" id="emotion_Modal_yes">예</button>
              <button type="button" class="btn btn-secondary footerBtn" id="emotion_Modal_cancle" data-bs-dismiss="modal">아니요</button>
            </div>
          </div>
        </div>
      </div>
      <audio aria-hidden="true"></audio>

</div>

<script>

  // 도메인 변수, 필요 시 수정.
  const domain = 'http://127.0.0.1:8000'

  // 모달 전역변수
  accountFlag = 0;
  sendFlag = 2; // 1 : 출금,  2 : 송금
  makeFlag = 0; // 0 : 처음, 1 : 확인
  cardFlag = 0;

  amount = ""
  password = ""    
  newPassword = ""
  checkPassword = ""
  account = ""
  localStorage.setItem("password", "1234");
  localStorage.setItem("newPassword", "");

</script>
<script src="/static/js/tts.js"></script>
<script src="/static/js/camera.js"></script>
<script src="/static/js/backend.js"></script>
<script src="/static/js/modal.js"></script>
<script src="/static/js/makeBody.js"></script>
<script src="/static/js/modalFunctions.js"></script>
<script>

  document.body.style.overflow = "hidden"

  const chatForm = document.querySelector(".submitForm");
  const chatInput = document.querySelector(".form_input");
  const chatBody = document.querySelector("section");
  const btn1 = document.querySelector("#btn_1");
  const btn2 = document.querySelector("#btn_2");
  const btn3 = document.querySelector("#btn_3");
  const btn4 = document.querySelector("#btn_4");
  const btn5 = document.querySelector("#btn_5");
  const btn6 = document.querySelector("#btn_6");

  chatForm.addEventListener("keyup", function (e) {
    if (e.key == 'Enter') {
      var submitContent = document.querySelector('#chat-input');
      handleChatSubmit(submitContent.value);
      submitContent.value = "";
    }
  });
  btn1.addEventListener("click", handleQuickBtn);
  btn2.addEventListener("click", handleQuickBtn);
  btn3.addEventListener("click", handleQuickBtn);
  btn4.addEventListener("click", handleQuickBtn);
  btn5.addEventListener("click", handleQuickBtn);
  btn6.addEventListener("click", handleQuickBtn);

  send_list = {
    "1" : "송금을 선택하셨습니다.",
    "2" : "입금을 선택하셨습니다.",
    "3" : "계좌조회을 선택하셨습니다.",
    "4" : "계좌개설을 선택하셨습니다.",
    "5" : "카드발급을 선택하셨습니다.",
    "6" : "출금을 선택하셨습니다.",
    "7" : "상품소개을 선택하셨습니다.",
  }

  answer_list = {
    "1" : ["송금을 도와드리겠습니다.",
    "카드 또는 통장을 넣어주세요.","...","송금하실 계좌번호를 입력해 주세요.", "모달-계좌번호", 
    "출금 또는 송금하실 금액을 입력해주세요.", "모달-금액", "비밀번호를 입력해주세요.",
    "모달-비밀번호","이용해 주셔서 감사합니다!","5초 후 자동으로 초기 화면으로 복귀합니다. 안녕히 가십시오.",""],
    "2" : [ "입금을 도와드리겠습니다. 카드 또는 통장을 넣어주세요.",
      "...",
      "보내실 금액을 투입구에 넣어주세요.",
      "...",
      "이용해 주셔서 감사합니다!",
      "5초 후 자동으로 메인 화면으로 복귀합니다.",""],
    "3" : ["계좌조회를 도와드리겠습니다.", "카드 또는 통장을 넣어주세요.", "..." , "비밀번호를 입력해주세요.","모달-비밀번호",
    "이용해 주셔서 감사합니다!","5초 후 자동으로 초기 화면으로 복귀합니다. 안녕히 가십시오.",""],
    "4" : ["계좌개설을 도와드리겠습니다.", "약관을 읽고 동의 버튼을 눌러주세요",
    "모달-약관","신분증을 촬영해 주세요.","이용해 주셔서 감사합니다!","5초 후 자동으로 초기 화면으로 복귀합니다. 안녕히 가십시오.",""],
    "5" : ["카드발급을 도와드리겠습니다. 발급을 원하시는 카드를 선택해주세요",
    "모달-카드", "약관을 읽고 동의 버튼을 눌러주세요", "모달-약관","신분증을 촬영해 주세요.","이용해 주셔서 감사합니다!","5초 후 자동으로 초기 화면으로 복귀합니다. 안녕히 가십시오.",""],
    "6" : ["출금을 도와드리겠습니다.", "카드 또는 통장을 넣어주세요.","...",
    "출금 또는 송금하실 금액을 입력해주세요.","모달-금액", "비밀번호를 입력해주세요.", "모달-비밀번호" ,
    "이용해 주셔서 감사합니다!","5초 후 자동으로 초기 화면으로 복귀합니다. 안녕히 가십시오.",""],
  }

  // 버튼 클릭
  function handleQuickBtn(event) {

    const objBody = document.querySelector(".chatbot-body");
    const target = event.target.value
    chatBody.innerHTML += "<div class='from-me'><p style='margin-bottom: 0;'>" + send_list[target] + "</p></div><div class='claer'></div>"
    objBody.scrollTop = objBody.scrollHeight;
    make_body(answer_list[target][0], 'button', target);
  }

  // 채팅 입력
  function handleChatSubmit(chatContent) {

    const objBody = document.querySelector("section");

    if (chatContent == "")
      return;
    const inputValue = chatContent

    chatBody.innerHTML += '<div class="from-me"><p style="margin-bottom: 0px;">' + inputValue + '</p></div><div class="clear"></div>'

    objBody.scrollTop = objBody.scrollHeight;
    let target = promise_search(inputValue)
          .then()
          .catch((error) => {
              console.log(error)
          })

      async function logItems(target) {
        var answer_list = await target;
        var num = answer_list.slice(0, 1)
        answer_list = answer_list.slice(1,)
        make_body(answer_list, inputValue, num)

      }
      logItems(target)
      return;
  }

  axios.defaults.xsrfCookieName = 'csrftoken'
  axios.defaults.xsrfHeaderName = 'X-CSRFToken'
  window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
  
  let recognition = new SpeechRecognition();
  recognition.interimResults = false;
  recognition.lang = 'ko-KR';
  

  
  let p = null;
  var recorder;
  
  var audio = document.querySelector('audio'); 



  
  {% comment %} recognition.stop(); {% endcomment %}
  recognition.onstart = function() {
    this.disabled = true; 
    captureMicrophone(function (microphone) { 
        var binaryData = [];
        binaryData.push(microphone);
        window.URL.createObjectURL(new Blob(binaryData, {type: "audio.wav"}))
        recorder = RecordRTC(microphone, { 
            type: 'audio', 
            recorderType: StereoAudioRecorder, 
            numberOfAudioChannels: 1, // or leftChannel:true 
            desiredSampRate: 16000 
        }); 
        recorder.startRecording(); 
        // release microphone on stopRecording
        recorder.microphone = microphone; 
        // document.getElementById('btn-stop-recording').disabled = false; 
        }); 
    };
    recognition.onend = function() {

      this.disabled = true; 
      recorder.stopRecording(stopRecordingCallback); 
      // document.getElementById('btn-start-recording').disabled = false; 
      recognition.stop();
  
    };
    
    recognition.onresult = function(e) {
      console.log(e)
      let texts = Array.from(e.results)
      .map(results => results[0].transcript).join("");

      texts = texts.replace(/출근/g,'출금')
      
      chatBody.innerHTML += '<div class="from-me"><p style="margin-bottom: 0px;">' + texts + '</p></div><div class="clear"></div>'

      let target = promise_search(texts)
          .then()
          .catch((error) => {
              console.log(error)
          })


      

      async function logItems(target) {
        var answer_list = await target;
        var num = answer_list.slice(0, 1)
        answer_list = answer_list.slice(1,)
        make_body(answer_list, texts, num)
      }    
      logItems(target)
  };


  function captureMicrophone(callback) { 
      navigator.getUserMedia = navigator.getUserMedia || navigator.mozGetUserMedia || navigator.webkitGetUserMedia; 
      navigator.getUserMedia({audio: true}, callback, function (error) { 
          alert('Unable to access your microphone.'); 
          console.error(error); 
      }); 
  } 
 

  function stopRecordingCallback() { 
    var blob = recorder.getBlob(); 
    audio.src = URL.createObjectURL(blob); 
    recorder.microphone.stop();

    blobToDataURL(blob, function (dataurl) {
      // targetlist = ['Angry','Disgust','Fearful','Happy','Neutral','Sad','Surprise','Emergency']
      var emotion_score_dict= {0 : 0.2 , 1: 0.2, 2: 0.6, 3: 0.1 , 4: 0.1, 5: 0.3, 6: 0.4, 7: 0}
        const data = {
            'url': dataurl
        }
        axios({
            method: 'post',
            url: 'http://127.0.0.1:8000/createSound',
            data: data,
            headers: {
                "Content-Type": 'application/json',
            },
            csrfmiddlewaretoken: '{{ csrf_token }}',
        }).then(function(response){
            console.log(response.data)
            scam_dict = response.data

            // $('#emotion_Modal').modal('show');

            var y = scam_dict['scam'] * 45 + emotion_score_dict[scam_dict['vgg']] * 20
            console.log("y값은:"+y)
            

            // 감정 분석 모델 사용 (고객의 감정 수준에 따라 실제 행원 연결)
            if ( y<35 && (scam_dict['vgg'] == 0 || scam_dict['vgg'] == 1)) {
              $('#emotion_Modal').modal('show');
              
            }
            else if(35<=y &&y<50) { // 0.3*50 + 0.4*20 = 23  // 0.5*50 + 0.6*20 = 37
              $('#scaModal_1').modal('show');
            }
            else if (50<=y && y<65) { // 0.5*50 + 0.6*20 = 37 // 0.9*50 + 0.4*20 = 53
              $('#scaModal_2').modal('show');
            }
            else if (y>=65) { // 0.9*50 + 0.4*20 = 53
              $('#scaModal_3').modal('show');
            }
        
     

            // $('#passwdModal').modal('hide');
        })
    })
}


function blobToDataURL(blob, callback) {
    var a = new FileReader();
    a.onload = function(e) {callback(e.target.result);}
    a.readAsDataURL(blob);
}
  $("#restart").click(function () {
    recognition.start();
  })
  
  $('#stoptts').click(function () {
    window.speechSynthesis.cancel();
    console.log(window.speechSynthesis);
  })

</script>

{% endblock %}