{% extends "base.html" %}

{% block content %}
<div class="main-frame row">
    <div class="ai-screen col-4">
        <div class="ai-screen-title d-flex">
            <p class="m-0">AI 일반 행원 김범수</p>
        </div>
        <div class="ai-screen-main">
        </div>
    </div>
    <div class="chatbot-screen col-8 d-flex justify-content-center align-items-center">
        <div class="chatbot-screen-main d-flex justify-content-center align-items-center">
            <a href="/main" class="start">시작하기</a>
            {% comment %} <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loadTerms">모달</button> {% endcomment %}
        </div>
    </div>
    <div class="modal fade" id="loadTerms" tabindex="-1" aria-labelledby="loadTermsLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="loadTerms">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem minima qui possimus? Maiores neque rerum esse aperiam, temporibus labore voluptas ipsum voluptatum fuga quaerat aliquam assumenda vero deleniti quas! Velit!
              Harum inventore quidem nam excepturi odio provident sit placeat, voluptate aliquam mollitia fuga eveniet magni soluta eum, voluptates ullam voluptatum odit? Laborum dolor quo delectus exercitationem magni fugiat esse nam?
              Iusto sunt eos accusamus obcaecati totam ipsa rerum eaque quos, cumque voluptatibus! Odit possimus fugit ipsa quod earum enim adipisci optio doloribus nostrum saepe! Velit maxime alias placeat architecto. Ut.
              Reiciendis magnam praesentium aliquam inventore repellat facere at eveniet assumenda dolorem, dolore, necessitatibus nesciunt enim labore. Perspiciatis labore hic deleniti placeat quidem voluptatibus. Assumenda labore similique et, voluptatem dolorem perferendis.
              Nemo voluptatum blanditiis dolores, molestiae possimus accusamus. Illum, dolorem ab. Mollitia iusto ab voluptate incidunt praesentium, tenetur, ducimus magni temporibus cupiditate ex deserunt nobis ratione veniam id accusamus explicabo eligendi.
              Voluptatum unde aliquid sint tempora provident perferendis iusto ad quia consequatur ex? Quaerat corrupti tenetur dolorum ut deleniti dignissimos quos, exercitationem recusandae voluptates blanditiis quia magni in tempora distinctio! Quas!
              Explicabo est mollitia illo laboriosam neque. Nisi suscipit maxime quaerat dignissimos sequi blanditiis maiores molestias incidunt dolorum obcaecati, explicabo itaque inventore fuga, consequatur consequuntur beatae aspernatur, voluptatem officia numquam ex.
              Maiores totam dicta vero odio rerum? Perspiciatis saepe fugiat consectetur exercitationem repudiandae quos minus? Tempora exercitationem omnis saepe, incidunt quod temporibus animi pariatur nostrum iusto, asperiores reiciendis iure dignissimos ratione.
              Suscipit eum alias aspernatur ipsam, in magnam praesentium est fugiat nam sunt odit quia. Id iste, corporis labore cupiditate fugit dolore nulla blanditiis, laborum totam explicabo magni commodi aliquid quas.
              Rerum ipsum ullam quis id quidem sequi reiciendis aut nisi asperiores recusandae debitis, ipsa molestias neque, aspernatur, vero esse nesciunt aperiam nemo harum amet. Debitis eligendi doloremque modi adipisci nesciunt?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
</div>
<style scoped>

    .main-frame {
        height: 56rem;
    }

    .ai-screen-title {
        background-color: #f8a70c;
        height: 10%;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .ai-screen-main {
        background-color: black;
        height: 90%;
    }
    
    .chatbot-screen-main {
        width: 70%;
        height: 60%;
        background-color: #6e6053;
        color: #f8a70c;
    }

    .start {
      font-size: 20px;
      {% comment %} text-decoration: underline; {% endcomment %}
      color : white;
    }

</style>
{% endblock %}